html {
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
}

.banner {
  background-color: #2b3851;
  justify-content: center;
}

.robot {
  width: 320px;
  position: relative;
  align-content: center;
  top: 8px;
}

.robot-body {
  width: 320px;
}

.robot-brain {
  width: 46px;
  position: absolute;
  left: 140px;
  top: 30px;
}

.robot-head-right,
.robot-head-left {
  width: 125px;
  position: absolute;
  bottom: 61px;
}

.robot-head-right {
  left: 160px;
}

.robot-head-left {
  left: 35px;
}
