html {
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
}

.banner {
  background-color: #2b3851;
  justify-content: center;
  height: 240px;
}

.robot {
  width: 320px;
  position: relative;
  top: 55px;
  margin: 0 auto;
}

.robot-body {
  width: 320px;
}

.robot-brain {
  width: 46px;
  position: absolute;
  left: 140px;
}

.robot-head-right,
.robot-head-left {
  width: 125px;
  position: absolute;
  bottom: 61px;
}

.robot-head-right {
  right: 35px;
}

.robot-head-left {
  left: 35px;
}

.robot:hover .robot-head-left {
  left: 1px;
  bottom: 70px;
}

.robot:hover .robot-head-right {
  right: 1px;
  bottom: 70px;
}

.robot:hover .robot-brain {
  bottom: 100px;
}
